<section class="contact">
    <div class="contact-content">
        <div class="contact-detail">
            <h1 class="heading">
                contact me
            </h1>
            <a href="mailto:bcastro421@misena.edu.co" class="sub-heading email">
                bcastro421@misena.edu.co
            </a>
            <p class="description">
                If you want to contact me, you can send me a message to the email. 
            </p>
            <div class="social-media-group">
                <a href="https://github.com/briancastro-bc" target="__blank" class="social github">
                    <i class="uil uil-github"></i>
                </a>
                <a href="https://www.youtube.com/channel/UC-F8g4frLRTvcEj7Qh9NKZw" target="__blank" class="social youtube">
                    <i class="uil uil-youtube"></i>
                </a>
            </div>
        </div>
        <div class="contact-image">
            <img src="assets/images/blob-second.svg" alt="Representative blob for contact">
        </div>
    </div>
</section>