<section class="about base-section">
	<div class="about-content">
		<div class="about-info">
			<h1 class="title">About Me</h1>
			<h2 class="sub">Agile methodologies, tecnology, backend development</h2>
			<p class="description">
				I am a Colombian programmer from Armenia, in Quindio. I live there, in Armenia. I was participate in Senasoft competition in 2021 on web development
				category using tecnologies like Flask, SocketIO, MySQL in the backend and Angular in the frontend.
			</p>
		</div>
		<div class="about-image">
			<img
				class="about-background"
				src="assets/images/background-programming.png"
				alt="About associated background"
			/>
		</div>
	</div>
</section>
<section class="projects base-section">
	<div class="projects-content">

	</div>
</section>
