<section class="about base-section">
    <div class="about-content">
        <div class="about-info">
            <h1 class="title">About Me</h1>
            <h2 class="sub">Agility, development, fullstack</h2>
            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, sint!</p>
        </div>
        <div class="about-image">
            <img class="about-background" src="assets/images/background-programming.png" alt="About associated background">
        </div>
    </div>
</section>
<section class="projects base-section">
    <div class="projects-content">

    </div>
</section>