/*:host ::ng-deep {
    .home {

        .home-container {
            gap: 1rem;

            .home-content {
                grid-template-columns: .5fr 3fr;
                padding-top: 3.5rem;
                align-items: center;

                .home-social {
                    display: grid;
                    grid-template-columns: max-content;
                    row-gap: 1rem;

                    .home-social-icon {
                        font-size: 1.25rem;
                        color: black;

                        &:hover {
                            color: darkblue;
                        }
                    }
                }

                .home-image {

                    .home-blob {
                        width: 200px;
                        fill: var(--light-blue);

                        .home-blob-image {
                            width: 170px;
                        }
                    }
                }

                .home-info {
                    grid-column: 1/3;

                    .title {
                        font-size: 2.5rem;
                    }

                    .subtitle {
                        font-size: 1.5rem;
                        color: var(--dark-gray);
                        font-weight: 500;
                        margin-bottom: .75rem;
                    }

                    .description {
                        margin-bottom: 2rem;
                    }
                }

                .home-scroll {
                    /* display: none; *

                    .home-scroll-button {
                        color: var(--dark-gray);
                        transition: .3s;
                    }
                }
            }
        }
    }
}*/

:host {
    #home {
        height: 100vh;

        .home-container {
            padding: 0 10rem;

            .home-content {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                height: 50vh;
                align-items: center;
                align-content: center;

                .home-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
        }
    }
}