:host {

    .home {
        height: calc(100vh - 64px);
        min-height: 100%;
        width: 100%;
        overflow-y: auto;
        font-size: 1rem;
        animation: 1s ease-in fadeIn 0s forwards;

        .home-content {
            align-items: center;
            display: -webkit-inline-box;
            display: inline-flex;
            justify-content: space-evenly;
            min-height: 100%;
            width: 100%;

            .home-info {
                display: inline-flex;
                flex-basis: 35rem;
                flex-direction: column;
                flex-shrink: 1;
                max-width: 35rem;
                padding: 1em 3em;

                .title {
                    margin: 0;
                    margin-bottom: 1rem;
                    line-height: 100%;
                    letter-spacing: 2px;
                    font-size: 3em;
                }

                .subtitle {
                    margin: 0;
                    font-size: 2rem;
                    letter-spacing: 2px;
                    color: var(--light-blue-color);
                }

                .description {
                    overflow: hidden;
                    border-right: .2em solid var(--light-color);
                    white-space: nowrap;
                    //margin: 0;
                    margin-bottom: 1rem;
                    letter-spacing: 1px;
                    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
                }
            }

            .home-image {
                align-items: center;
                display: inline-flex;
                flex-direction: column;
                flex-basis: 45%;
                overflow: hidden;
                padding: 1em 3em;

                .blob {
                    fill: var(--primary-color-alt);
                }
            }
        }

    }

    @media screen and (max-width: 768px) {
        .home {

            .home-content {
                .home-info {
                    justify-content: center;

                    .description {
                        white-space: normal;
                    }
                }

                .home-image {
                    display: none;

                    .blob {
                        display: none;
                    }
                }
            }
        }
    }

    .about {
        height: calc(100vh - 64px);
        min-height: 100%;
        width: 100%;
        overflow-y: auto;
        font-size: 1rem;
        background: var(--dark-gray-color);
        animation: 1s ease-in fadeIn 0s forwards;

        .about-content {
            align-items: center;
            display: -webkit-inline-box;
            display: inline-flex;
            justify-content: space-evenly;
            min-height: 100%;
            width: 100%;

            .about-info {
                display: inline-flex;
                flex-basis: 35rem;
                flex-direction: column;
                flex-shrink: 1;
                max-width: 35rem;
                padding: 1em 3em;

                .title {
                    margin: 0;
                    font-size: 3em;
                }

                .subtitle {
                    margin: 0;
                    font-size: 2.2rem;
                }
            }

            .about-image {
                align-items: center;
                display: inline-flex;
                flex-direction: column;
                flex-basis: 45%;
                overflow: hidden;
                padding: 1em 3em;

                .blob {
                    fill: var(--primary-color);
                }
            }
        }
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes typing {
        from { width: 0; }
        to { width: 100%; }
    }

    @keyframes blink-caret {
        from, to { border-color: transparent; }
        50% { border-color: var(--light-color); }
    }
}