<header class="navbar">
    <a class="name" routerLink="/home" routerLinkActive="active">
        Brian
    </a>
    <nav class="links">
        <a class="link" routerLink="home">
            Home
        </a>
        <a class="link" routerLink="about">
            About
        </a>
        <a class="link" routerLink="resume">
            Resume
        </a>
        <div class="social-media">
            <a class="github" href="https://github.com/briancastro-bc" target="_blank">
                <i class="uil uil-github"></i>
            </a>
            <a class="youtube" href="https://www.youtube.com/channel/UC-F8g4frLRTvcEj7Qh9NKZw" target="_blank">
                <i class="uil uil-youtube"></i>
            </a>
            <a class="discord" href="#">
                <i class="uil uil-discord"></i>
            </a>
            <a class="toggle-mode">
                <i class="uil uil-moonset"></i>
            </a>
        </div>
    </nav>
</header>