:host ::ng-deep {

    $base-padding: 2rem;
    $navbar-font-size: 1.25rem;

    .navbar {
        width: 100%;
        top: 0;
        position: sticky;
        position: -webkit-sticky;
        padding: $base-padding;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        align-items: center;
        font-size: $navbar-font-size;
        background-color: var(--light-color);
        z-index: 1000;

        .name {
            font-weight: 600;
            font-size: calc($navbar-font-size + .25rem);
            letter-spacing: .1rem;
            position: relative;
            color: black;

            &:hover {
                color: var(--light-gray);
            }

            &::after {
                content: 'Castro';
            }
        }

        .links {
            display: flex;

            .link {
                display: block;
                text-decoration: none;
                margin-right: 1rem;
                color: rgba(0, 0, 0, 0.857);

                &:hover {
                    color: rgba(0, 0, 0, 0.5);

                    /*&::after {
                        content: '';
                        display: block;
                        bottom: 0;
                        border-top: 1px solid black;
                    }*/
                }
            }

            .social-media {
                display: flex;

                a {
                    display: block;
                    margin-right: .8rem;
                    letter-spacing: .1rem;
                    color: gray;
                }

                .github:hover {
                    color: #171515;
                }

                .youtube:hover {
                    color: #c4302b;
                }

                .discord:hover {
                    color: #5865F2;
                }

                .toggle-mode {
                    cursor: pointer;

                    &:hover {
                        color: #c98d1f;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {

        .navbar {
            padding: calc($base-padding - .3rem);

            .links {
                font-size: 1.2rem;

                .link {
                    display: none;
                }
            }
        }
    }

    @media screen and (max-width: 480px) {

        .navbar {
            padding: calc($base-padding - 1rem);

            .name {

                &::after {
                    content: '';
                }
            }
        }
        
    }


}