@use 'normalize';
@import './sass/variables';

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Kanit:wght@100;200;400;700;900&family=Poppins:ital,wght@0,200;0,400;1,500&family=Pridi:wght@200;300;400;600&family=Sora:wght@400;600;800&display=swap');

:root {

    --hue-color: 210;

    --primary-color: hsl(var(--hue-color), 60%, 50%);
    --primary-color-alt: hsl(var(--hue-color), 35%, 55%);

    /* LIGHT THEME */
    --light-color: hsl(0, 0%, 100%);
    --light-blue-color: hsl(219, 28%, 88%);
    --light-gray-color: hsl(220, 12%, 85%);
    --light-white-color: hsl(218, 27%, 94%);

    /* DARK THEME */
    --dark-color: hsl(220, 16%, 22%);
    --dark-gray-color: hsl(222, 16%, 28%);
    --dark-blue-color: hsl(220, 17%, 32%);
    --dark-light-color: hsl(220, 16%, 36%);
    --dark-blue-light-color: hsl(210, 34%, 63%);

    /* Font sizes */
    --big-font-size: $big-font-size;
    --normal-font-size: $normal-font-size;
    --h1-font-size: $h1-font-size;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $primary-font;
    font-size: $normal-font-size;
    color: $text-color;

}

body.dark-mode {
    background-color: var(--dark-color);
    color: var(--light-color);
}

h1,h2,h3,h4,h5 {
    font-weight: $font-semibold;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

#no-script-content {
    background-color: var(--light-white);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;

    .title {
        font-size: 4rem;
        font-weight: 700;
        margin-bottom: .5rem;
        text-shadow: 2px 2px var(--dark-color);
        word-spacing: .5rem;
    }

    .sub-title {
        font-size: 2rem;
        margin-bottom: .5rem;
        font-style: italic;
    }

    p {
        font-size: 20px;
    }

}

@media screen and (max-width: 410px){
    #no-script-content {
        text-align: center;
        padding: 0 1rem;

        .title {
            font-size: 3rem;
        }

        .sub-title {
            font-size: 1rem;
        }

        p {
            font-size: 16px;
        }
    }
}
